= form_for user, url: change_password_user_path, html: {class: 'settings-form'} do |f|
  - if user.errors.any?
    %ul.list-errors
      - user.errors.full_messages.each do |msg|
        %li= msg

  .field
    %label{for: 'old_password'} Old password
    %input{type: 'password', name: 'old_password', id: 'old_password'}

  .field
    = f.label :password, 'New password'
    = f.password_field :password

  .actions= f.submit 'Save Changes', class: 'button'
