.modal-content-small
  %header.modal-header
    %h1 Reset Password

  = form_tag "/users/reset_password/#{ @user.reset_password_token }", class: 'modal-form', method: :post do
    - if @user.errors.any?
      %ul.list-errors
        - @user.errors.full_messages.each do |msg|
          %li= msg
    - elsif params[:password].present? or params[:confirm_password].present?
      %ul.list-errors
        %li Ensure the password and confirmation are identical.

    .field
      = label_tag :password, 'New password'
      = password_field_tag :password, nil
    .field
      = label_tag :confirm_password, 'Confirm new password'
      = password_field_tag :confirm_password, nil

    .actions.actions-modal= submit_tag "Save", class: 'button'

  %footer.modal-footer
    %div.or-other-option
      :markdown
        or [go back and log in](/login).