!!!
%html
  %head
    %title Admin · I Done This
    = stylesheet_link_tag 'admin', media: 'all'
    = javascript_include_tag 'admin'
    = render 'layouts/favicons'
    %meta{name: "viewport", content: "initial-scale=1"}/
    = csrf_meta_tags
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>

  %body
    %div.admin{role: 'layout'}
      %nav.admin-sidebar= render 'layouts/admin/sidebar'
      %div.admin-content
        %div.admin-header
          = yield :header
        - if flash[:notice]
          %div.admin-flash= flash[:notice]
        - if flash[:error]
          %div.admin-flash= flash[:error]

        = yield
